<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        {{ fn }} 
        <button type="submit">submit</button>
        <br>
        <h1>hello world</h1>
        {% for n in serviceData %}
        
          {{ n.name }}
        {% endfor %}

        <input value="{{ total_marks }} and {{ percent }}">

        

    </form>
</body>
</html>